[submodule "davidtvs-PyTorch-ENet"]
	path = davidtvs-PyTorch-ENet
	url = https://github.com/davidtvs/PyTorch-ENet.git
[submodule "FCN-tensorflow-ADE20k"]
	path = FCN-tensorflow-ADE20k
	url = https://github.com/worstprogrammerCN/FCN-tensorflow-ADE20k.git
[submodule "shekkizh-FCN.tensorflow"]
	path = shekkizh-FCN.tensorflow
	url = https://github.com/shekkizh/FCN.tensorflow.git
[submodule "semantic-segmentation-pytorch"]
	path = semantic-segmentation-pytorch
	url = https://github.com/CSAILVision/semantic-segmentation-pytorch.git
[submodule "Mask_RCNN"]
        path= Mask_RCNN
        url= https://github.com/matterport/Mask_RCNN.git

[submodule "jacklanchantin-SceneLabelingConvNet"]
	path = jacklanchantin-SceneLabelingConvNet
	url = https://github.com/jacklanchantin/SceneLabelingConvNet.git
[submodule "PSPNet-tensorflow-hellochick"]
	path = PSPNet-tensorflow-hellochick
	url = https://github.com/hellochick/PSPNet-tensorflow.git
[submodule "CSAILVision-NetDissect"]
	path = CSAILVision-NetDissect
	url = https://github.com/CSAILVision/NetDissect.git
[submodule "DA-RNN-yuxng"]
	path = DA-RNN-yuxng
	url = https://github.com/yuxng/DA-RNN.git
[submodule "blam-erik-nelson"]
	path = blam-erik-nelson
	url = https://github.com/erik-nelson/blam.git
