[submodule "davidtvs-PyTorch-ENet"]
	path = davidtvs-PyTorch-ENet
	url = https://github.com/davidtvs/PyTorch-ENet.git
[submodule "FCN-tensorflow-ADE20k"]
	path = FCN-tensorflow-ADE20k
	url = https://github.com/worstprogrammerCN/FCN-tensorflow-ADE20k.git
[submodule "shekkizh-FCN.tensorflow"]
	path = shekkizh-FCN.tensorflow
	url = https://github.com/shekkizh/FCN.tensorflow.git
[submodule "semantic-segmentation-pytorch"]
	path = semantic-segmentation-pytorch
	url = https://github.com/CSAILVision/semantic-segmentation-pytorch.git
[submodule "Mask_RCNN"]
        path= Mask_RCNN
        url= https://github.com/matterport/Mask_RCNN.git

[submodule "jacklanchantin-SceneLabelingConvNet"]
	path = jacklanchantin-SceneLabelingConvNet
	url = https://github.com/jacklanchantin/SceneLabelingConvNet.git
[submodule "PSPNet-tensorflow-hellochick"]
	path = PSPNet-tensorflow-hellochick
	url = https://github.com/hellochick/PSPNet-tensorflow.git
[submodule "CSAILVision-NetDissect"]
	path = CSAILVision-NetDissect
	url = https://github.com/CSAILVision/NetDissect.git
[submodule "DA-RNN-yuxng"]
	path = DA-RNN-yuxng
	url = https://github.com/yuxng/DA-RNN.git
[submodule "blam-erik-nelson"]
	path = blam-erik-nelson
	url = https://github.com/erik-nelson/blam.git
[submodule "semantic_slam-floatlazer"]
	path = catkin_ws/src/semantic_slam-floatlazer
	url = https://github.com/floatlazer/semantic_slam.git
[submodule "catkin_ws/src/geometry_utils"]
	path = catkin_ws/src/geometry_utils
	url = https://github.com/erik-nelson/geometry_utils.git
[submodule "catkin_ws/src/parameter_utils"]
	path = catkin_ws/src/parameter_utils
	url = https://github.com/erik-nelson/parameter_utils.git
[submodule "catkin_ws/src/measurement_synchronizer"]
	path = catkin_ws/src/measurement_synchronizer
	url = https://github.com/erik-nelson/measurement_synchronizer.git
[submodule "catkin_ws/src/point_cloud_filter"]
	path = catkin_ws/src/point_cloud_filter
	url = https://github.com/erik-nelson/point_cloud_filter.git
[submodule "catkin_ws/src/point_cloud_localization"]
	path = catkin_ws/src/point_cloud_localization
	url = https://github.com/erik-nelson/point_cloud_localization.git
[submodule "catkin_ws/src/point_cloud_mapper"]
	path = catkin_ws/src/point_cloud_mapper
	url = https://github.com/erik-nelson/point_cloud_mapper.git
[submodule "catkin_ws/src/point_cloud_odometry"]
	path = catkin_ws/src/point_cloud_odometry
	url = https://github.com/erik-nelson/point_cloud_odometry.git
[submodule "catkin_ws/src/point_cloud_visualizer"]
	path = catkin_ws/src/point_cloud_visualizer
	url = https://github.com/erik-nelson/point_cloud_visualizer.git
[submodule "catkin_ws/src/blam_slam"]
	path = catkin_ws/src/blam_slam
	url = https://github.com/erik-nelson/blam_slam.git
[submodule "catkin_ws/src/blam_example"]
	path = catkin_ws/src/blam_example
	url = https://github.com/erik-nelson/blam_example.git
[submodule "catkin_ws/src/laser_loop_closure"]
	path = catkin_ws/src/laser_loop_closure
	url = https://github.com/erik-nelson/laser_loop_closure.git
[submodule "catkin_ws/src/pose_graph_msgs"]
	path = catkin_ws/src/pose_graph_msgs
	url = https://github.com/erik-nelson/pose_graph_msgs.git
[submodule "M2Det-qijiezhao"]
	path = M2Det-qijiezhao
	url = https://github.com/qijiezhao/M2Det.git
[submodule "catkin_ws/src/ROS-Academy-for-Beginners"]
	path = catkin_ws/src/ROS-Academy-for-Beginners
	url = https://github.com/sychaichangkun/ROS-Academy-for-Beginners.git
[submodule "mastering_ros"]
	path = mastering_ros
	url = https://github.com/qboticslabs/mastering_ros.git
[submodule "darknet"]
	path = darknet
	url = https://github.com/pjreddie/darknet.git
[submodule "GSLAM"]
	path = GSLAM
	url = https://github.com/zdzhaoyong/GSLAM.git
[submodule "mtapi"]
	path = mtapi
	url = https://github.com/vdemydiuk/mtapi.git
[submodule "catkin_ws/src/darknet_ros"]
	path = catkin_ws/src/darknet_ros
	url = https://github.com/leggedrobotics/darknet_ros.git
