<launch>

  <!-- ORB_SLAM2 RGBD -->
  <node pkg="orb_slam2" type="rgbd" name="rgbd" output="screen" args="$(find orb_slam2)../../../Vocabulary/ORBvoc.txt $(find semantic_slam)/params/xtion.yaml">
        <remap from="/camera/rgb/image_raw" to="/kinect2/qhd/image_color_rect" />
        <remap from="/camera/depth_registered/image_raw" to="/kinect2/qhd/image_depth_rect" />
</node>
</launch>
